<h2>DJ <%= @nick -%>!</h2>

<p>
  Вы зарегистрировались на сервисе <a href='http://bot.fm'>bot.fm</a> со следующими данными:<br/>
  Логин: <b><%= @login -%></b><br/>
  Пароль: <b><%= @password -%></b>
</p>

<p>
  Редактировать персональные данные: <a href="http://bot.fm/profile" target="_blank">http://bot.fm/profile</a><br/>
  Загрузить файлы в боткаст: <a href="http://bot.fm/upload" target="_blank">http://bot.fm/upload</a><br/>
  Редактировать боткаст: <a href="http://bot.fm/playlist" target="_blank">http://bot.fm/playlist</a>
</p>

<br/>
С уважением,<br/>
Администратор сервиса <a href='http://bot.fm'>bot.fm</a><br/>
-------------------------------------------------------<br/>
<a href='http://bot.fm'>BOT.FM</a> - твоя новая радиосвобода.
