log/*.log
log/*.pid
log/*.out
tmp/**/*
doc/api
doc/app
config/boot.rb
config/database.yml
config/ferret_server.yml
config/mongrel_cluster.yml
config/ultrasphinx
*.swp
.*.swp
index
*~
public/uploads
public/stylesheets/bot.css
db/schema.rb
